@import '~antd/dist/antd.css';
html{
    font-size:26.67vw;
}
div{
    font-size:.16rem;
}
a{
    text-decoration: none;
}
.topBox{
    overflow-y: auto;
}
.bomBox{
    height:.7rem;
    margin-top:10px;
}